@tailwind base;
@tailwind components;
@tailwind utilities;

body::-webkit-scrollbar-thumb {
  background-color: #a855f7;
  border-radius: 999999px;
}
body::-webkit-scrollbar {
  background-color: #28123b;
  width: 6px;
}

@layer utilities {
  .bg-join-card {
    background: #8400ff;
    background: radial-gradient(at center top, #8400ff33 0%, #00000000 75%);
  }
  .bg-chat-card {
    background: #8400ff;
    background: radial-gradient(at left center, #8400ff33 0%, #00000000 50%);
  }
  .bg-card-right {
    background: #8400ff;
    background: radial-gradient(at right center, #8400ff33 0%, #00000000 60%);
  }
  .chat-scroll::-webkit-scrollbar-thumb {
    @apply bg-[#a955f777] rounded-[99999px];
  }
  .chat-scroll::-webkit-scrollbar {
    @apply w-1 bg-transparent bg-[#d19fff13] rounded-[99999px];
  }
  .default-transition {
    transition: scale cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s,
      background-color linear 0.3s, box-shadow linear 0.3s;
  }
  .default-transition:hover {
    scale: 1.1;
  }
  .button-hover {
    transition: scale cubic-bezier(0.68, -0.6, 0.32, 1.6) 0.4s,
      background-color linear 0.3s, box-shadow linear 0.3s;
  }
  .button-hover:hover {
    scale: 1.1;
  }
  .error-anim {
    transition: transform cubic-bezier(0.34, 1.56, 0.64, 1) 0.5s,
      opacity linear 0.3s;
  }
  .nav-button::before {
    @apply content-[""] absolute bg-purple-500 -z-10 opacity-0 rounded-[99999px] inset-0;
    scale: 0;
    transition: scale 0.5s cubic-bezier(0.34, 1.56, 0.64, 1),
      opacity 0.2s linear, shadow 0.5s linear;
  }
  .nav-button:hover {
    text-shadow: 0px 0px 15px #a855f7;
  }
  .nav-button:hover::before {
    @apply opacity-[0.15] shadow-[0px_0px_30px_2px_#a855f7];
    scale: 1;
  }
  .footer {
    background: a855f7;
    background: linear-gradient(135deg, #753aff 0%, #c534ff 100%);
  }
  .image-shadow {
    filter: drop-shadow(3px 3px 10px #000000);
  }
  .logo {
    filter: drop-shadow(0px 0px 20px #a855f7);
  }
  .clip-path-poligon {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  .card-features-purple-1 {
    background: rgb(109, 0, 255);
    background: linear-gradient(90deg, #3a8fff 0%, #753aff 100%);
  }
  .card-features-purple-2 {
    background: rgb(109, 0, 255);
    background: linear-gradient(90deg, #753aff 0%, #c534ff 100%);
  }
  .card-features-purple-3 {
    background: rgb(109, 0, 255);
    background: linear-gradient(90deg, #c534ff 0%, #ff34cc 100%);
  }
  .learn-more-button::before {
    @apply content-[""] bg-purple-500 h-0.5 w-3/5 absolute transition-all duration-300 rounded-full left-0 -bottom-0.5;
  }
  .learn-more-button:hover::before {
    @apply w-[96%];
  }
  .learn-more-button {
    transition: color 0.4s, gap 0.2s;
  }
  #checkbox:checked + .toggle .bars {
    @apply absolute duration-500;
  }
  #checkbox:checked + .toggle #bar2 {
    @apply duration-500 scale-x-0;
  }
  #checkbox:checked + .toggle #bar1 {
    @apply w-full rotate-45 duration-500;
  }
  #checkbox:checked + .toggle #bar3 {
    @apply w-full -rotate-45 duration-500;
  }
  #checkbox:checked + .toggle {
    @apply duration-500 rotate-180;
  }
}
